.landing-container {
    display: flex;
    justify-content: center; 
    align-items: center;     
    flex-direction: column;
    text-align: center;     
  }
  
  .landing-header {
    font-family: monospace;
    padding: 20px;
  }
  
  .start-button {
    font-family: monospace;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
  }
  